.titles {
  text-align: center;
}

section {
  border: 2px solid black;
  border-radius: 10px;
  margin: 0px 100px 0px 100px;
  padding: 30px 100px 50px 100px;
}

.input{
  display: grid;
  grid-template-columns: 200px 100px;
  align-items: center;
  padding: 20px 200px 20px 400px;
  gap: 5px;
  margin: 100px 100px 500px 100px;
}

.progress_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 100px 50px 100px;
}
